#moveable {
    background: white;
    box-shadow: 0 0 0.2em 0 #ccc;
    padding: 3em;
    cursor: move;
}

#moveable_body {
    background: white;
    box-shadow: 0 0 0.2em 0 #ccc;
    padding: 1em;
}

#moveable_head {
    background: #ddccaa;
    box-shadow: 0 0 0.2em 0 #ccc;
    padding: 3em;
    cursor: move;
}

h2 {
    font-size: 50px;
    padding: 0.5em 0.8em;
    margin: 0 auto;
    width: 80%;
    position: relative;
    -webkit-animation: light 1s 1s infinite;
            animation: light 1s 1s infinite;
    text-shadow: 5px 5px 45px rgba(255, 0, 0, .5);
    cursor: pointer;
}

h2::after {
    position: absolute;
    float: left;
    padding-left: 2em;
    font-size: 0.3em;
    content: attr(data-discription);
    bottom: 30%;
    -webkit-animation: verical-slow 1s infinite;
            animation: verical-slow 1s infinite;
}

h2::before {
    position: absolute;
    padding-right: 20%;
    right: 0;
    font-size: 14px;
    content: attr(data-author);
    bottom: 10%;
    text-shadow: none;
}

body {
    font-family: "Trebuchet MS", Arial, "Helvetica-Normal", Helvetica, Verdana;
}

@-webkit-keyframes light {
    0% {
        text-shadow: 0 0 45px rgba(255, 0, 0, .5);
    }
    25% {
        text-shadow: 0 0 15px rgba(0, 255, 0, .5);
    }
    50% {
        text-shadow: 0 0 25px rgba(0, 0, 255, .5);
    }
    75% {
        text-shadow: 0 0 35px rgba(255, 255, 0, .5);
    }
    100% {
        text-shadow: 0 0 45px rgba(255, 0, 0, .5);
    }
}

@keyframes light {
    0% {
        text-shadow: 0 0 45px rgba(255, 0, 0, .5);
    }
    25% {
        text-shadow: 0 0 15px rgba(0, 255, 0, .5);
    }
    50% {
        text-shadow: 0 0 25px rgba(0, 0, 255, .5);
    }
    75% {
        text-shadow: 0 0 35px rgba(255, 255, 0, .5);
    }
    100% {
        text-shadow: 0 0 45px rgba(255, 0, 0, .5);
    }
}

@-webkit-keyframes verical-slow {
    2% {
        -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
                transform: translate(0, 1.5px) rotate(1.5deg);
    }
    4% {
        -webkit-transform: translate(0, -1.5px) rotate(-0.5deg);
                transform: translate(0, -1.5px) rotate(-0.5deg);
    }
    6% {
        -webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
                transform: translate(0, 1.5px) rotate(-1.5deg);
    }
    8% {
        -webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
                transform: translate(0, -1.5px) rotate(-1.5deg);
    }
    10% {
        -webkit-transform: translate(0, 2.5px) rotate(1.5deg);
                transform: translate(0, 2.5px) rotate(1.5deg);
    }
    12% {
        -webkit-transform: translate(0, -0.5px) rotate(1.5deg);
                transform: translate(0, -0.5px) rotate(1.5deg);
    }
    14% {
        -webkit-transform: translate(0, -1.5px) rotate(1.5deg);
                transform: translate(0, -1.5px) rotate(1.5deg);
    }
    16% {
        -webkit-transform: translate(0, -0.5px) rotate(-1.5deg);
                transform: translate(0, -0.5px) rotate(-1.5deg);
    }
    18% {
        -webkit-transform: translate(0, 0.5px) rotate(-1.5deg);
                transform: translate(0, 0.5px) rotate(-1.5deg);
    }
    20% {
        -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
                transform: translate(0, -1.5px) rotate(2.5deg);
    }
    22% {
        -webkit-transform: translate(0, 0.5px) rotate(-1.5deg);
                transform: translate(0, 0.5px) rotate(-1.5deg);
    }
    24% {
        -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
                transform: translate(0, 1.5px) rotate(1.5deg);
    }
    26% {
        -webkit-transform: translate(0, 0.5px) rotate(0.5deg);
                transform: translate(0, 0.5px) rotate(0.5deg);
    }
    28% {
        -webkit-transform: translate(0, 0.5px) rotate(1.5deg);
                transform: translate(0, 0.5px) rotate(1.5deg);
    }
    30% {
        -webkit-transform: translate(0, -0.5px) rotate(2.5deg);
                transform: translate(0, -0.5px) rotate(2.5deg);
    }
    32% {
        -webkit-transform: translate(0, 1.5px) rotate(-0.5deg);
                transform: translate(0, 1.5px) rotate(-0.5deg);
    }
    34% {
        -webkit-transform: translate(0, 1.5px) rotate(-0.5deg);
                transform: translate(0, 1.5px) rotate(-0.5deg);
    }
    36% {
        -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
                transform: translate(0, -1.5px) rotate(2.5deg);
    }
    38% {
        -webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
                transform: translate(0, 1.5px) rotate(-1.5deg);
    }
    40% {
        -webkit-transform: translate(0, -0.5px) rotate(2.5deg);
                transform: translate(0, -0.5px) rotate(2.5deg);
    }
    42% {
        -webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
                transform: translate(0, 2.5px) rotate(-1.5deg);
    }
    44% {
        -webkit-transform: translate(0, 1.5px) rotate(0.5deg);
                transform: translate(0, 1.5px) rotate(0.5deg);
    }
    46% {
        -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
                transform: translate(0, -1.5px) rotate(2.5deg);
    }
    48% {
        -webkit-transform: translate(0, -0.5px) rotate(0.5deg);
                transform: translate(0, -0.5px) rotate(0.5deg);
    }
    50% {
        -webkit-transform: translate(0, 0.5px) rotate(0.5deg);
                transform: translate(0, 0.5px) rotate(0.5deg);
    }
    52% {
        -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
                transform: translate(0, 2.5px) rotate(2.5deg);
    }
    54% {
        -webkit-transform: translate(0, -1.5px) rotate(1.5deg);
                transform: translate(0, -1.5px) rotate(1.5deg);
    }
    56% {
        -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
                transform: translate(0, 2.5px) rotate(2.5deg);
    }
    58% {
        -webkit-transform: translate(0, 0.5px) rotate(2.5deg);
                transform: translate(0, 0.5px) rotate(2.5deg);
    }
    60% {
        -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
                transform: translate(0, 2.5px) rotate(2.5deg);
    }
    62% {
        -webkit-transform: translate(0, -0.5px) rotate(2.5deg);
                transform: translate(0, -0.5px) rotate(2.5deg);
    }
    64% {
        -webkit-transform: translate(0, -0.5px) rotate(1.5deg);
                transform: translate(0, -0.5px) rotate(1.5deg);
    }
    66% {
        -webkit-transform: translate(0, 1.5px) rotate(-0.5deg);
                transform: translate(0, 1.5px) rotate(-0.5deg);
    }
    68% {
        -webkit-transform: translate(0, -1.5px) rotate(-0.5deg);
                transform: translate(0, -1.5px) rotate(-0.5deg);
    }
    70% {
        -webkit-transform: translate(0, 1.5px) rotate(0.5deg);
                transform: translate(0, 1.5px) rotate(0.5deg);
    }
    72% {
        -webkit-transform: translate(0, 2.5px) rotate(1.5deg);
                transform: translate(0, 2.5px) rotate(1.5deg);
    }
    74% {
        -webkit-transform: translate(0, -0.5px) rotate(0.5deg);
                transform: translate(0, -0.5px) rotate(0.5deg);
    }
    76% {
        -webkit-transform: translate(0, -0.5px) rotate(2.5deg);
                transform: translate(0, -0.5px) rotate(2.5deg);
    }
    78% {
        -webkit-transform: translate(0, -0.5px) rotate(1.5deg);
                transform: translate(0, -0.5px) rotate(1.5deg);
    }
    80% {
        -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
                transform: translate(0, 1.5px) rotate(1.5deg);
    }
    82% {
        -webkit-transform: translate(0, -0.5px) rotate(0.5deg);
                transform: translate(0, -0.5px) rotate(0.5deg);
    }
    84% {
        -webkit-transform: translate(0, 1.5px) rotate(2.5deg);
                transform: translate(0, 1.5px) rotate(2.5deg);
    }
    86% {
        -webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
                transform: translate(0, -1.5px) rotate(-1.5deg);
    }
    88% {
        -webkit-transform: translate(0, -0.5px) rotate(2.5deg);
                transform: translate(0, -0.5px) rotate(2.5deg);
    }
    90% {
        -webkit-transform: translate(0, 2.5px) rotate(-0.5deg);
                transform: translate(0, 2.5px) rotate(-0.5deg);
    }
    92% {
        -webkit-transform: translate(0, 0.5px) rotate(-0.5deg);
                transform: translate(0, 0.5px) rotate(-0.5deg);
    }
    94% {
        -webkit-transform: translate(0, 2.5px) rotate(0.5deg);
                transform: translate(0, 2.5px) rotate(0.5deg);
    }
    96% {
        -webkit-transform: translate(0, -0.5px) rotate(1.5deg);
                transform: translate(0, -0.5px) rotate(1.5deg);
    }
    98% {
        -webkit-transform: translate(0, -1.5px) rotate(-0.5deg);
                transform: translate(0, -1.5px) rotate(-0.5deg);
    }
    0%,
    100% {
        -webkit-transform: translate(0, 0) rotate(0);
                transform: translate(0, 0) rotate(0);
    }
}

@keyframes verical-slow {
    2% {
        -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
                transform: translate(0, 1.5px) rotate(1.5deg);
    }
    4% {
        -webkit-transform: translate(0, -1.5px) rotate(-0.5deg);
                transform: translate(0, -1.5px) rotate(-0.5deg);
    }
    6% {
        -webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
                transform: translate(0, 1.5px) rotate(-1.5deg);
    }
    8% {
        -webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
                transform: translate(0, -1.5px) rotate(-1.5deg);
    }
    10% {
        -webkit-transform: translate(0, 2.5px) rotate(1.5deg);
                transform: translate(0, 2.5px) rotate(1.5deg);
    }
    12% {
        -webkit-transform: translate(0, -0.5px) rotate(1.5deg);
                transform: translate(0, -0.5px) rotate(1.5deg);
    }
    14% {
        -webkit-transform: translate(0, -1.5px) rotate(1.5deg);
                transform: translate(0, -1.5px) rotate(1.5deg);
    }
    16% {
        -webkit-transform: translate(0, -0.5px) rotate(-1.5deg);
                transform: translate(0, -0.5px) rotate(-1.5deg);
    }
    18% {
        -webkit-transform: translate(0, 0.5px) rotate(-1.5deg);
                transform: translate(0, 0.5px) rotate(-1.5deg);
    }
    20% {
        -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
                transform: translate(0, -1.5px) rotate(2.5deg);
    }
    22% {
        -webkit-transform: translate(0, 0.5px) rotate(-1.5deg);
                transform: translate(0, 0.5px) rotate(-1.5deg);
    }
    24% {
        -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
                transform: translate(0, 1.5px) rotate(1.5deg);
    }
    26% {
        -webkit-transform: translate(0, 0.5px) rotate(0.5deg);
                transform: translate(0, 0.5px) rotate(0.5deg);
    }
    28% {
        -webkit-transform: translate(0, 0.5px) rotate(1.5deg);
                transform: translate(0, 0.5px) rotate(1.5deg);
    }
    30% {
        -webkit-transform: translate(0, -0.5px) rotate(2.5deg);
                transform: translate(0, -0.5px) rotate(2.5deg);
    }
    32% {
        -webkit-transform: translate(0, 1.5px) rotate(-0.5deg);
                transform: translate(0, 1.5px) rotate(-0.5deg);
    }
    34% {
        -webkit-transform: translate(0, 1.5px) rotate(-0.5deg);
                transform: translate(0, 1.5px) rotate(-0.5deg);
    }
    36% {
        -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
                transform: translate(0, -1.5px) rotate(2.5deg);
    }
    38% {
        -webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
                transform: translate(0, 1.5px) rotate(-1.5deg);
    }
    40% {
        -webkit-transform: translate(0, -0.5px) rotate(2.5deg);
                transform: translate(0, -0.5px) rotate(2.5deg);
    }
    42% {
        -webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
                transform: translate(0, 2.5px) rotate(-1.5deg);
    }
    44% {
        -webkit-transform: translate(0, 1.5px) rotate(0.5deg);
                transform: translate(0, 1.5px) rotate(0.5deg);
    }
    46% {
        -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
                transform: translate(0, -1.5px) rotate(2.5deg);
    }
    48% {
        -webkit-transform: translate(0, -0.5px) rotate(0.5deg);
                transform: translate(0, -0.5px) rotate(0.5deg);
    }
    50% {
        -webkit-transform: translate(0, 0.5px) rotate(0.5deg);
                transform: translate(0, 0.5px) rotate(0.5deg);
    }
    52% {
        -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
                transform: translate(0, 2.5px) rotate(2.5deg);
    }
    54% {
        -webkit-transform: translate(0, -1.5px) rotate(1.5deg);
                transform: translate(0, -1.5px) rotate(1.5deg);
    }
    56% {
        -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
                transform: translate(0, 2.5px) rotate(2.5deg);
    }
    58% {
        -webkit-transform: translate(0, 0.5px) rotate(2.5deg);
                transform: translate(0, 0.5px) rotate(2.5deg);
    }
    60% {
        -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
                transform: translate(0, 2.5px) rotate(2.5deg);
    }
    62% {
        -webkit-transform: translate(0, -0.5px) rotate(2.5deg);
                transform: translate(0, -0.5px) rotate(2.5deg);
    }
    64% {
        -webkit-transform: translate(0, -0.5px) rotate(1.5deg);
                transform: translate(0, -0.5px) rotate(1.5deg);
    }
    66% {
        -webkit-transform: translate(0, 1.5px) rotate(-0.5deg);
                transform: translate(0, 1.5px) rotate(-0.5deg);
    }
    68% {
        -webkit-transform: translate(0, -1.5px) rotate(-0.5deg);
                transform: translate(0, -1.5px) rotate(-0.5deg);
    }
    70% {
        -webkit-transform: translate(0, 1.5px) rotate(0.5deg);
                transform: translate(0, 1.5px) rotate(0.5deg);
    }
    72% {
        -webkit-transform: translate(0, 2.5px) rotate(1.5deg);
                transform: translate(0, 2.5px) rotate(1.5deg);
    }
    74% {
        -webkit-transform: translate(0, -0.5px) rotate(0.5deg);
                transform: translate(0, -0.5px) rotate(0.5deg);
    }
    76% {
        -webkit-transform: translate(0, -0.5px) rotate(2.5deg);
                transform: translate(0, -0.5px) rotate(2.5deg);
    }
    78% {
        -webkit-transform: translate(0, -0.5px) rotate(1.5deg);
                transform: translate(0, -0.5px) rotate(1.5deg);
    }
    80% {
        -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
                transform: translate(0, 1.5px) rotate(1.5deg);
    }
    82% {
        -webkit-transform: translate(0, -0.5px) rotate(0.5deg);
                transform: translate(0, -0.5px) rotate(0.5deg);
    }
    84% {
        -webkit-transform: translate(0, 1.5px) rotate(2.5deg);
                transform: translate(0, 1.5px) rotate(2.5deg);
    }
    86% {
        -webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
                transform: translate(0, -1.5px) rotate(-1.5deg);
    }
    88% {
        -webkit-transform: translate(0, -0.5px) rotate(2.5deg);
                transform: translate(0, -0.5px) rotate(2.5deg);
    }
    90% {
        -webkit-transform: translate(0, 2.5px) rotate(-0.5deg);
                transform: translate(0, 2.5px) rotate(-0.5deg);
    }
    92% {
        -webkit-transform: translate(0, 0.5px) rotate(-0.5deg);
                transform: translate(0, 0.5px) rotate(-0.5deg);
    }
    94% {
        -webkit-transform: translate(0, 2.5px) rotate(0.5deg);
                transform: translate(0, 2.5px) rotate(0.5deg);
    }
    96% {
        -webkit-transform: translate(0, -0.5px) rotate(1.5deg);
                transform: translate(0, -0.5px) rotate(1.5deg);
    }
    98% {
        -webkit-transform: translate(0, -1.5px) rotate(-0.5deg);
                transform: translate(0, -1.5px) rotate(-0.5deg);
    }
    0%,
    100% {
        -webkit-transform: translate(0, 0) rotate(0);
                transform: translate(0, 0) rotate(0);
    }
}