#moveable {
    background: white;
    box-shadow: 0 0 0.2em 0 #ccc;
    padding: 3em;
    cursor: move;
}

#moveable_body {
    background: white;
    box-shadow: 0 0 0.2em 0 #ccc;
    padding: 1em;
}

#moveable_head {
    background: #ddccaa;
    box-shadow: 0 0 0.2em 0 #ccc;
    padding: 3em;
    cursor: move;
}

h2 {
    font-size: 50px;
    padding: 0.5em 0.8em;
    margin: 0 auto;
    text-shadow: 5px 5px 45px rgba(255,0,0,.5),
    -5px -5px 15px rgba(0,255,0,.5),
    5px -5px 25px rgba(0,0,255,.5),
    -5px 5px 35px rgba(255,255,0,.5);
    width: 80%;
    position: relative;
}

h2::after {
    position: absolute;
    left: 20em;
    font-size: 0.3em;
    content: attr(data-value);
    bottom: 20%;
}

body {
	font-family:"Trebuchet MS", Arial, "Helvetica-Normal", Helvetica, Verdana;
} 
