<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grid</title>
    <link rel="stylesheet" href="../simple/simpletools.min.css">
    <script src="../simple/simpletools.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">Hello</div>
            <div class="col-sm-6 col-md-4 col-lg-3">Hello</div>
            <div class="col-sm-6 col-md-4 col-lg-3">Hello</div>
            <div class="col-sm-6 col-md-4 col-lg-3">Hello</div>
            <div class="col-sm-6 col-md-4 col-lg-3">Hello</div>
            <div class="col-sm-6 col-md-4 col-lg-3">Hello</div>
            <div class="col-sm-6 col-md-4 col-lg-3">Hello</div>
            <div class="col-sm-6 col-md-4 col-lg-3">Hello</div>
            <div class="col-sm-6 col-md-4 col-lg-3">Hello</div>
            <div class="col-sm-6 col-md-4 col-lg-3">Hello</div>
            <div class="col-sm-6 col-md-4 col-lg-3">Hello</div>
            <div class="col-sm-6 col-md-4 col-lg-3">Hello</div>
        </div>
    </div>
</body>

</html>