<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grid</title>
    <link rel="stylesheet" href="../simple/simpletools.min.css">
    <script src="../simple/simpletools.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="row">
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
    </div>
    <div class="row">
        <div class="col-3">Column-3</div>
        <div class="col">Column Auto</div>
        <div class="col-5">Column-5</div>
    </div>
    <div class="row">
        <div class="col-5">Column-5</div>
        <div class="col">Column</div>
    </div>
    <div class="row">
        <div class="col-2">Column-2</div>
        <div class="col-10">Column-10</div>
    </div>
    <div class="row">
        <div class="col-4">Column-4</div>
        <div class="col-8">Column-8</div>
    </div>
    <div class="row">
        <div class="col-8">Column-8</div>
        <div class="col-4">Column-4</div>
    </div>
    <div class="row">
        <div class="col-4">Column-4</div>
        <div class="col-4">Column-4</div>
        <div class="col-4">Column-4</div>
    </div>
    <div class="row">
        <div class="col-2">Column-2</div>
        <div class="col-2">Column-2</div>
        <div class="col-2">Column-2</div>
        <div class="col-2">Column-2</div>
        <div class="col-2">Column-2</div>
        <div class="col-2">Column-2</div>
    </div>
    <div class="row">
        <div class="col-1">Column-1</div>
        <div class="col-1">Column-1</div>
        <div class="col-1">Column-1</div>
        <div class="col-1">Column-1</div>
        <div class="col-1">Column-1</div>
        <div class="col-1">Column-1</div>
        <div class="col-1">Column-1</div>
        <div class="col-1">Column-1</div>
        <div class="col-1">Column-1</div>
        <div class="col-1">Column-1</div>
        <div class="col-1">Column-1</div>
        <div class="col-1">Column-1</div>
    </div>
</body>

</html>