.snow-attachment-menu {
    @extend .snow-pop-menu;
}

.snow-attachment-item {
    cursor: pointer;
    transition: .2s;
    padding: .2em;
    word-break: break-all;
    word-wrap: break-word;
    user-select: none;
}


.snow-attachment-item:hover {
    cursor: pointer;
    background-color: $toolbar-color;
}