.snow-toolbar {
    background-color: $toolbar-color;
    display: flex;
    align-content: center;
    border-bottom: none;
    padding: 0 .2em;
    flex-wrap: wrap;
}

.snow-content {
    padding: .2em;
    border: 1px solid $toolbar-color;
    word-break: break-all;
    outline: none;
    overflow: auto;
}

.snow-content.drop {
    background-color: $toolbar-color;
}

.snow-tool-item {
    cursor: pointer;
    user-select: none;
    padding: .2em .3em;
    background-color: $toolbar-color;
    transition: .1s;
}

.snow-tool-item:hover,
.snow-tool-item.active,
.snow-tool-item.disable {
    background-color: $toolbar-color-dark;
    color: $toolbar-color-light;
}

.snow-tool-item.disable {
    opacity: 0.8;
    pointer-events: none;
}