nav a,
nav a :hover {
    color: #666;
    text-decoration: none;
}

nav {
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

nav ul {
    display: table;
    padding: 0;
    margin: 0 auto;
    width: 80%;
}

nav ul li {
    float: left;
    border-right: 1px solid #eee;
    position: relative;
    list-style: none;
    transition: all .3s .1s;
}

nav ul li:first-of-type {
    border-left: none;
}

nav ul li:last-of-type {
    border-right: none;
}

nav ul li a {
    display: block;
    padding: 0.8em 1em;
}

nav>ul>li:hover>a {
    display: block;
    padding: 0.8em 1em;
    background: #F6F6F6;
}

nav ul li ul {
    transition: all .3s .1s;
    display: block;
    position: absolute;
    padding: 0;
    left: 0;
    top: 200%;
    opacity: 0;
    width: 150%;
    background: #F6F6F6;
    border: 1px solid #ddd;
    border-top: none;
}

nav ul li ul li {
    padding: 0;
    float: none;
    border: none;
}

nav ul li ul li a {
    transition: all .3s .1s;
    opacity: 0;
}

nav ul li:hover ul {
    opacity: 1;
    top: 2.7em;
}

nav ul li:hover ul li a {
    opacity: 1;
}

nav ul li:hover ul li:hover a {
    color:#45B6F7;
    background-color: #fff;
}