nav {
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

nav>ul {
    display: table;
    padding: 0;
    margin: 0 auto;
    width: 80%;
}

nav>ul>li {
    float: left;
    border-right: 1px solid #eee;
    position: relative;
    list-style: none;
    transition: all .3s .1s;
}

nav>ul>li:first-of-type {
    border-left: none;
}

nav>ul>li:last-of-type {
    border-right: none;
}

nav>ul>li a {
    display: block;
    color: #666;
    text-decoration: none;
    padding: 0.8em 1em;
    text-overflow: ellipsis;
    transition: .3s;
}

nav>ul>li a:hover {
    display: block;
    padding: 0.8em 1em;
    background: #F6F6F6;
}

nav>ul>li>ul {
    display: none;
    list-style: none;
    position: absolute;
    padding: 0;
    background-color: #fff;
    box-shadow: 0px 1px 1px 0px #ddd;
    overflow: hidden;
}

nav>ul>li>ul>li>a {
    display: none;
}

nav>ul>li:hover>ul {
    display: block;
    animation: show-sub .3s forwards;
    width: 150%;
}

nav>ul>li:hover>ul>li>a {
    display: block;
    opacity: 0;
    transform: translate(-10%, 0);
    animation: show-item .3s .2s forwards;
}

@keyframes show-sub {
    from {
        opacity: 0;
        transform: translate(0,-10%);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes show-item {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}