.toast
{
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    display: inline-block; 
    padding: 0.8em; 
    cursor: pointer; 
    opacity: 1; 
    border: 0px; 
}

/* 扩展样式 主样式名-扩展样式名 */
.toast-green
{
    background-color: rgba(0, 255, 0, 0.7); 
    color: white; 
    display: inline-block; 
    padding: 0.8em; 
    cursor: pointer; 
    opacity: 1; 
    border: 0px; 
    border-radius: 0.5em;
}