.snow-tab-title {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $light;
}

.snow-tab-title>li {
    padding: .5em 1em;
    background-color: #fff;
    color: $primary;
    cursor: pointer;
}

.snow-tab-title>li.snow-tab-current,
.snow-tab-title>li:hover {
    border-bottom: .2em solid $primary;
    background-color: $light;
    user-select: none;
}

.snow-tab-item {
    display: none;
}

.snow-tab-item.snow-tab-show {
    display: block;
}

.snow-tab-sm>li {
    padding: .25em .5em;
}

.snow-tab-sm>li.snow-tab-current,
.snow-tab-sm>li:hover {
    border-bottom: .1em solid $primary;
}