.snow-editor-container {
    position: relative;
    border: 1px solid $toolbar-color;
    // box-shadow: 0 0 .25em 0 $toolbar-color;
    background-color: $white;
    border-radius: .25em;
    padding: .25em .125em;
}

.snow-toolbar {
    background-color: $white;
    display: flex;
    align-content: center;
    border-bottom: none;
    padding: 0 .125em;
    flex-wrap: wrap;
}

.snow-content {
    padding: .125em;
    padding-top: .25em;
    word-break: break-all;
    outline: none;
    overflow: auto;
    border: 0;
}

.snow-content img {
    max-width: 100%;
}

.snow-content.drop {
    background-color: $toolbar-color;
}

.snow-tool-item {
    cursor: pointer;
    user-select: none;
    padding: .2em .3em;
    background-color: $white;
    border-radius: .125em;
    transition: .1s;
}

.snow-tool-item:hover,
.snow-tool-item.active,
.snow-tool-item.disable {
    background-color: $toolbar-color;
}

.snow-tool-item.disable {
    opacity: 0.8;
    pointer-events: none;
}

.snow-pop-menu {
    border: 0;
    box-shadow: 0 0 10px 0 $toolbar-color-shadow;
    background-color: $white;
    padding: .25em;
    border-radius: .25em;
}