.snow-emotions-menu {
    @extend .snow-pop-menu;
    max-width: 15em;
}

.snow-tool-emotions-item {
    @extend .snow-tool-item;
}

.snow-tool-emotions-item:hover {
    @extend .snow-tool-item:hover;
}

.snow-emotions-tab-view {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
 